---
import Layout from "../layouts/Layout.astro";

const noms = [
  { num: "I",   tag: "Полный метр",     title: "Лучший полнометражный фильм или сериал",      body: "Игровые, неигровые, анимационные. Вручается продюсеру картины. Хронометраж: от&nbsp;60&nbsp;минут для&nbsp;игровых, от&nbsp;52&nbsp;для&nbsp;неигровых." },
  { num: "II",  tag: "Режиссура",       title: "Лучшая режиссёрская работа",                   body: "Награда режиссёру за&nbsp;выдающуюся постановочную работу в&nbsp;полнометражном игровом, неигровом, анимационном фильме или&nbsp;сериале." },
  { num: "III", tag: "Сценарий",        title: "Лучший сценарий",                              body: "Приз сценаристу или&nbsp;сценарной группе полнометражного фильма или&nbsp;сериала." },
  { num: "IV",  tag: "Дебют",           title: "Лучший дебют",                                 body: "Присуждается кинематографисту-дебютанту, чья первая работа признана наиболее успешной." },
  { num: "V",   tag: "Короткий метр",   title: "Лучший короткометражный фильм",                body: "Игровые, неигровые, анимационные. До&nbsp;60&nbsp;минут для&nbsp;игровых, до&nbsp;52&nbsp;для&nbsp;неигровых." },
  { num: "VI",  tag: "Спец. приз",      title: "За вклад в развитие киноиндустрии ДВ",         body: "Специальный приз оргкомитета для&nbsp;профессионалов и&nbsp;организаций, внёсших значимый вклад в&nbsp;развитие кино региона." },
  { num: "VII", tag: "Арктика · NEW",   title: "За лучший фильм об Арктике и Крайнем Севере",  body: "Новая номинация сезона 2026. Для&nbsp;игровых и&nbsp;неигровых работ, снятых в&nbsp;Заполярье или&nbsp;посвящённых жизни и&nbsp;культуре северных регионов." },
];
---
<Layout title={`Номинации · Дальневосточная Кинопремия 2026`} active={"nominations"}>

<section class="page-hero v2">
  <div class="page-hero-eyebrow"><span class="dot"></span><span>Номинации 2026</span></div>
  <h1 class="page-hero-title" data-text-reveal>Семь <em>категорий</em><br />одной премии</h1>
  <p class="page-hero-lead">На&nbsp;соискание принимаются игровые, неигровые и&nbsp;анимационные фильмы, сериалы и&nbsp;короткометражные работы, связанные с&nbsp;Дальневосточным федеральным округом. В&nbsp;2026 году добавлена новая номинация «Арктика».</p>
</section>

<section class="nominations nominations-v2 reveal" style="padding-top:64px">
  <div class="nom-list reveal-stagger">
    {noms.map((n) => (
      <article class="nom-row">
        <div class="nom-num">{n.num}</div>
        <div class="nom-body">
          <h3 set:html={n.title}></h3>
          <p set:html={n.body}></p>
        </div>
        <div class="nom-meta">{n.tag}</div>
      </article>
    ))}
  </div>
</section>

</Layout>
